@tailwind base;
/* se especifica si queremos que halla algun estilo base para el html, como seria la tipografia por ejemplo. Dependerá del tipo de proyecto y criterio del desarrollador */

body {
  font-family: 'inter', ui-sans-serif, system-ui, sans-serif;
}
/* se debe poner tal cual expecifica google fonts o la web de donde desargarte la fuente  */
h1 {
  font-family: 'Secular One', ui-sans-serif, system-ui, sans-serif;
}
img {
  width: 100%;
}

@tailwind components;
/* Se agrupan varias utilidades en un clase para poder comprimir código creando asi componentes */

.flexContainerRow{
  @apply flex flex-wrap p-4 
}
.flexContainerCol{
  @apply flex flex-wrap flex-col p-4
}
.containerBtnDark{
  @apply overflow-hidden h-8 bg-sky-200 w-14  duration-700 rounded-3xl
}
.darkModeBtn{
  @apply w-full origin-center duration-700
}
.searchBarBase{
  @apply absolute top-16 left-2/4 -translate-x-1/2 z-10 bg-white w-11/12 rounded-full justify-center items-center cursor-pointer shadow-lg
}
.btn{
  @apply shadow-md drop-shadow-md -translate-x-2/4 font-semibold tracking-wider rounded-3xl py-2 px-10
}
.redBtnStyle{
  @apply bg-sky-400 text-white  hover:scale-105 hover:bg-white hover:text-sky-400 duration-300
}
.navbarIcon{
  @apply h-8 w-8 text-gray-300 hover:scale-125 duration-300 hover:text-orange-700
}

@tailwind utilities;
/* se crean utilidades especificas para situaciones especificas valga la redundancia */

.bordered {
  border: 1px solid rgb(102, 236, 82);
}